@using MVCITE.Helpers

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@TagHelpers.PictureHelper("/Images/plaza.jpg", "Welcome")


<link rel="stylesheet" href="~/css/site.css">
